extends common/index
include assets/pagenav

block css
  include common/css
  link(href='/css/alibaba_workers/index.css',rel='stylesheet')

block content
  script(src='/js/search.js')
  div.container
    div.tool.clearfix
      div.search.pull-left
        form#search.form-inline.w330(action='/alibaba_workers/s/')
          div.form-group
            label.sr-only= land('search_place')
            input.form-control(type='search', placeholder= land('search_place'))
          div.form-group
            button.btn.btn-default= land('seach')
      - if(user && user.type==1)
        div.reg.pull-right
          a.btn.btn-link(href='alibaba_workers/reglist')= land('import')
    - if (users.length > 0)
      div.users
        each val,index in users
          div.user.clearfix
            +user(val)
      +pagenav(page, count, search)
    - else
      p.alert.alert-warning= land('nodate')

mixin user(val)
  div.intro
    p.info
      span.min_w100= val.username
      span.min_w200= land('alibaba_deparyment') + ':' + (val.deparyment||'')
      span.min_w260= land('wangwang') + ':' + (val.wangwang||'')
      span.min_w200= land('interface_person') + ':' + (val.interface_person||'')
    p.contact
      span.tel_extension.min_w100
        span.glyphicon.glyphicon-earphone
        span= val.tel_extension
      span.telephone.min_w200
        span.glyphicon.glyphicon-phone
        span= val.telephone
      span.email.min_w260
        span.glyphicon.glyphicon-envelope
        a(href= 'mailto:'+val.email)= val.email
  div.operation
    - if(user && user.type==1)    
      a.btn.btn-link.btn-xs(href='/alibaba_workers/edit?id='+val._id)= land('edit')