block header
  div#header.header
    div.navbar.navbar-default.navbar-static-top
      div.container
        div.navbar-header
          img(src='/images/logo.png', style='height:50px;')
        div.navbar-collapse.collapse
          ul.nav.navbar-nav
            - if(nav && nav == 'users')
              li.active
                a(href='/users')= land('users')
            - else
              li
                a(href='/users')= land('users')
            - if(nav && nav == 'alibaba_workers')
              li.active
                a(href='/alibaba_workers')= land('alibaba_workers')
            - else
              li
                a(href='/alibaba_workers')= land('alibaba_workers')
          ul.nav.navbar-nav.navbar-right
            - if(user && user.eid && user.username)
              li
                a(href='/my')= user.username
              li
                a(href='/login')= land('login_out')
            - else
              li
                // a(href='/login')= land('tologin')